<p3>Welcome <%= session[:username] %>!</p3>

<p5>You have $<%= session[:money] %></p5>

<form action='/bet' method='post'>
  How much would you like to wager?:  <input type="text" name="wager">
  <input type="submit" value="Deal the Cards" class="btn">
</form>