<br/>

<div>
  <p3>Welcome <%= session[:username] %>!</p3>
</div>

<br/>

<div>
  <p5>You have $<%= session[:money] %></p5>
</div>

<br/>

<div class="container">
  <form class="form-horizontal" action='/bet' method='post'>
    <div class="control-group">
      <label class="control-label" for="wager">Your wager?:</label>
      <div class="controls">
        <input type="text" id="wager" name="wager" placeholder="50">
      </div>
    </div>
    <div class="control-group">
      <div class="controls">
        <button type="submit" class="btn">Deal the Cards</button>
      </div>
    </div>
  </form>
</div>