<p3>Welcome to the Blackjack Table!</p3>

<div>
  <form action="/welcome" method="post">
    <div>
      What's your name?:  
      <input type="text" name="username">
    </div>
    <div>
      How much money would you like to play with?:  
      <input type="text" name="money">
    </div>

    <br/>

    <input type="submit" value="Start Playing!" class="btn">
    
  </form>
</div>
