<p3>Welcome to the Blackjack Table!</p3>

<form action="/welcome" method="post">
  What's your name?:  <input type="text" name="username">
  How much money would you like to play with?:  <input type="text" name="money">
  <br/>
  <input type="submit" value="Start Playing!" class="btn">
</form>
