<p3>Welcome to the Blackjack Table!</p3>

<form action="/bet" method="post">
  What's your name?:  <input type="text" name="name">
  How much money would you like to play with?:  <input type="text" name="money">
  <input type="submit" value="Start Playing!" class="btn">
</form>
