<br/>

<div>
  <p3 class="center">Welcome to the Blackjack Table!</p3>
</div>

<br/>

<div class="container">

  <form class="form-horizontal" action="/welcome" method="post">
    <div class="control-group">
      <label class="control-label" for="playerName">What's your name?</label>
      <div class="controls">  
        <input type="text" id="playerName" name="username" placeholder="Name">
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="money">Money to play</label>
      <div class="controls">
        <input type="text" id="money" name="money" placeholder="500">
      </div>
    </div>
    <div class="control-group">
      <div class="controls">
        <button type="submit" class="btn">Start Playing!</button>
      </div>
    </div>
    
  </form>

</div>
